@import "tailwindcss";


html,
body {
  min-height: 100dvh;
}

html,
body {
  scroll-behavior: smooth;
}

/* Disable text selection globally */
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable drag and drop globally */
* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

